In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

#### This script Read Data from DataBase(PostGresSql) converting file to DataFrame & CSV file for further analysis

In [4]:
import psycopg2

* Psycopg is the most popular PostgreSQL database adapter for the Python 
* Matplotlib is used for 2D Data Visualization & SeaBorn is used for 3D Data Visualization

In [6]:
conn = psycopg2.connect(database = "postgres", user = "abhishek", password = "surajhappy"
                        , host = "127.0.0.1", port = "5432")
print("Opened database successfully")

Opened database successfully

In [4]:
cursor = conn.cursor()

In [8]:
# Creating DataFrame by taking SQL query and DataBase object
def create_pandas_table(sql_query, database = conn):
    table = pd.read_sql_query(sql_query, database)
    return table

#  1:) FIRST TABLE

In [6]:
propert_da = create_pandas_table("SELECT * FROM clean_mcd_property_list;")
propert_da.head(2)

,Unnamed: 0,property_info,address,property_type,owner_name,property_id,address_num_list,floors,house_no,colony_name,ward,zone,mcd_name,owner_type
0,1,247147318400|Telephone Colony|Vivek Vihar Ward...,186|186 Chota Thakur Dwara Teliwara Shahdara D...,Residential Plotted,Raj Kumar,247147318400,186|186,,186,Telephone Colony,Vivek Vihar,Sh. South,Eastdelhi,ind_owner
1,2,106142518400|Telephone Colony|Vivek Vihar Ward...,"2722, S.Floor,Mahavir Baza|2722, Second Floor,...",Commercial General,Sanjay Bhutoria,106142518400,2722|2722|110006,2F,"2722, S.Floor,Mahavir Baza",Telephone Colony,Vivek Vihar,Sh. South,Eastdelhi,ind_owner

In [7]:
propert_da.shape

(2921456, 14)

In [8]:
propert_da.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2921456 entries, 0 to 2921455
Data columns (total 14 columns):
Unnamed: 0          int64
property_info       object
address             object
property_type       object
owner_name          object
property_id         object
address_num_list    object
floors              object
house_no            object
colony_name         object
ward                object
zone                object
mcd_name            object
owner_type          object
dtypes: int64(1), object(13)
memory usage: 312.0+ MB

In [10]:
# Saving dataframe to CSV file with same header and without any indexing

In [9]:
propert_da.to_csv('/home/abhishek/Desktop/tealwork/data_analysis/file1.csv', header=True, index=False)

In [10]:
propert_da.shape

(2921456, 14)

In [11]:
propert_da.isnull().sum()

Unnamed: 0               0
property_info            0
address                  5
property_type         1131
owner_name              75
property_id              5
address_num_list         5
floors                   0
house_no                 5
colony_name              0
ward                729727
zone                729727
mcd_name                 0
owner_type               0
dtype: int64

# 2:) SECOND TABLE

In [6]:
property_ta = create_pandas_table("SELECT * FROM clean_mcd_property_list JOIN clean_mcd_tax_receipts ON clean_mcd_tax_receipts.property_id = clean_mcd_property_list.property_id LIMIT 2200000;")
property_ta.head(2)

,Unnamed: 0,property_info,address,property_type,owner_name,property_id,address_num_list,floors,house_no,colony_name,ward,zone,mcd_name,owner_type,receipt_no,property_id,fin_year,pay_mode,date,amount_paid
0,1,247147318400|Telephone Colony|Vivek Vihar Ward...,186|186 Chota Thakur Dwara Teliwara Shahdara D...,Residential Plotted,Raj Kumar,247147318400,186|186,,186,Telephone Colony,Vivek Vihar,Sh. South,Eastdelhi,ind_owner,NA,247147318400,2008-09,Na,NaT,NaN
1,1,247147318400|Telephone Colony|Vivek Vihar Ward...,186|186 Chota Thakur Dwara Teliwara Shahdara D...,Residential Plotted,Raj Kumar,247147318400,186|186,,186,Telephone Colony,Vivek Vihar,Sh. South,Eastdelhi,ind_owner,NA,247147318400,2009-10,Na,NaT,NaN

In [7]:
property_ta.shape

(2200000, 20)

In [8]:
property_ta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200000 entries, 0 to 2199999
Data columns (total 20 columns):
Unnamed: 0          int64
property_info       object
address             object
property_type       object
owner_name          object
property_id         object
address_num_list    object
floors              object
house_no            object
colony_name         object
ward                object
zone                object
mcd_name            object
owner_type          object
receipt_no          object
property_id         object
fin_year            object
pay_mode            object
date                datetime64[ns]
amount_paid         float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(17)
memory usage: 335.7+ MB

In [9]:
property_ta.isnull().sum()

Unnamed: 0                0
property_info             0
address                   0
property_type           948
owner_name               48
property_id               0
address_num_list          0
floors                    0
house_no                  0
colony_name               0
ward                 761844
zone                 761844
mcd_name                  0
owner_type                0
receipt_no                0
property_id               0
fin_year                  0
pay_mode                  0
date                1740650
amount_paid         1740457
dtype: int64

In [10]:
property_ta.to_csv('/home/abhishek/Desktop/tealwork/data_analysis/tax_file1.csv', header=True, index=False)

In [12]:
property_ta.head()

,Unnamed: 0,property_info,address,property_type,owner_name,property_id,address_num_list,floors,house_no,colony_name,ward,zone,mcd_name,owner_type,receipt_no,property_id,fin_year,pay_mode,date,amount_paid
0,1,247147318400|Telephone Colony|Vivek Vihar Ward...,186|186 Chota Thakur Dwara Teliwara Shahdara D...,Residential Plotted,Raj Kumar,247147318400,186|186,,186,Telephone Colony,Vivek Vihar,Sh. South,Eastdelhi,ind_owner,NA,247147318400,2008-09,Na,NaT,NaN
1,1,247147318400|Telephone Colony|Vivek Vihar Ward...,186|186 Chota Thakur Dwara Teliwara Shahdara D...,Residential Plotted,Raj Kumar,247147318400,186|186,,186,Telephone Colony,Vivek Vihar,Sh. South,Eastdelhi,ind_owner,NA,247147318400,2009-10,Na,NaT,NaN
2,1,247147318400|Telephone Colony|Vivek Vihar Ward...,186|186 Chota Thakur Dwara Teliwara Shahdara D...,Residential Plotted,Raj Kumar,247147318400,186|186,,186,Telephone Colony,Vivek Vihar,Sh. South,Eastdelhi,ind_owner,NA,247147318400,2010-11,Na,NaT,NaN
3,1,247147318400|Telephone Colony|Vivek Vihar Ward...,186|186 Chota Thakur Dwara Teliwara Shahdara D...,Residential Plotted,Raj Kumar,247147318400,186|186,,186,Telephone Colony,Vivek Vihar,Sh. South,Eastdelhi,ind_owner,NA,247147318400,2011-12,Na,NaT,NaN
4,1,247147318400|Telephone Colony|Vivek Vihar Ward...,186|186 Chota Thakur Dwara Teliwara Shahdara D...,Residential Plotted,Raj Kumar,247147318400,186|186,,186,Telephone Colony,Vivek Vihar,Sh. South,Eastdelhi,ind_owner,NA,247147318400,2012-13,Na,NaT,NaN

In [28]:
value = input('Enter String for value in columns: ') 
column1= input('Enter column Name: ') 
print(len (property_ta[property_ta[column1] == value]))

Enter String for value in columns: Telephone Colony
Enter column Name: colony_name
84

### A Simple steps to know the CSV file for understanding the DataSet

In [15]:
property_ta=pd.read_csv('tax_file1.csv')

/home/abhishek/Desktop/tealwork/.venv/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [16]:
property_ta.shape

(2200000, 20)

In [11]:
df=(property_ta.groupby(['colony_name']))

In [13]:
df.head()

,Unnamed: 0,property_info,address,property_type,owner_name,property_id,address_num_list,floors,house_no,colony_name,ward,zone,mcd_name,owner_type,receipt_no,property_id.1,fin_year,pay_mode,date,amount_paid
0,1,247147318400|Telephone Colony|Vivek Vihar Ward...,186|186 Chota Thakur Dwara Teliwara Shahdara D...,Residential Plotted,Raj Kumar,247147318400,186|186,NaN,186,Telephone Colony,Vivek Vihar,Sh. South,Eastdelhi,ind_owner,NaN,247147318400,2008-09,Na,NaN,NaN
1,1,247147318400|Telephone Colony|Vivek Vihar Ward...,186|186 Chota Thakur Dwara Teliwara Shahdara D...,Residential Plotted,Raj Kumar,247147318400,186|186,NaN,186,Telephone Colony,Vivek Vihar,Sh. South,Eastdelhi,ind_owner,NaN,247147318400,2009-10,Na,NaN,NaN
2,1,247147318400|Telephone Colony|Vivek Vihar Ward...,186|186 Chota Thakur Dwara Teliwara Shahdara D...,Residential Plotted,Raj Kumar,247147318400,186|186,NaN,186,Telephone Colony,Vivek Vihar,Sh. South,Eastdelhi,ind_owner,NaN,247147318400,2010-11,Na,NaN,NaN
3,1,247147318400|Telephone Colony|Vivek Vihar Ward...,186|186 Chota Thakur Dwara Teliwara Shahdara D...,Residential Plotted,Raj Kumar,247147318400,186|186,NaN,186,Telephone Colony,Vivek Vihar,Sh. South,Eastdelhi,ind_owner,NaN,247147318400,2011-12,Na,NaN,NaN
4,1,247147318400|Telephone Colony|Vivek Vihar Ward...,186|186 Chota Thakur Dwara Teliwara Shahdara D...,Residential Plotted,Raj Kumar,247147318400,186|186,NaN,186,Telephone Colony,Vivek Vihar,Sh. South,Eastdelhi,ind_owner,NaN,247147318400,2012-13,Na,NaN,NaN

In [83]:
property_ta_new= property_ta[['amount_paid','property_type','colony_name']].copy()
property_ta_new.head()

   amount_paid        property_type       colony_name
0          NaN  Residential Plotted  Telephone Colony
1          NaN  Residential Plotted  Telephone Colony
2          NaN  Residential Plotted  Telephone Colony
3          NaN  Residential Plotted  Telephone Colony
4          NaN  Residential Plotted  Telephone Colony

In [84]:
property_ta_new.shape

(2200000, 3)

In [69]:
property_ta_new['amount_paid'].groupby(property_ta_new['property_type']).describe()

,count,mean,std,min,25%,50%,75%,max
property_type,,,,,,,,
Agricultural,294.0,30965.136054,35773.606048,27.0,7821.75,17850.0,35700.00,227375.0
Air Conditioned Gyms,3.0,27516.333333,3142.517515,25702.0,25702.00,25702.0,28423.50,31145.0
Banquet Halls,22.0,286907.772727,359281.173793,533.0,5881.75,102272.0,448352.50,887295.0
Big /super/special Commercial property with covered Area of 1500sq. ft.(139.5 sq.mtr.) and above,22.0,54354.818182,37547.960223,4123.0,19288.00,67630.0,94235.75,103076.0
Coaching Centres,95.0,25503.294737,23761.890910,1323.0,6544.00,17213.0,49387.00,103517.0
Commercial General,65856.0,7088.432261,23190.082609,14.0,817.00,1836.0,5247.00,1466080.0
Community Center,869.0,28700.511105,41469.420032,351.0,2293.00,7819.0,40174.00,200263.0
Convenient Shopping Center,580.0,6155.048845,16258.388446,173.0,1044.00,1674.0,2742.00,164334.0
District Center,22.0,27304.549091,50845.669471,460.0,2878.50,8658.0,13578.00,168148.0
Farm House,746.0,92132.791300,81913.247453,512.0,25481.25,70963.5,137167.00,497055.0
Govt. Company and Statutory Corporation Properties,37.0,244923.297297,298571.111245,7343.0,21921.00,67151.0,589368.00,785823.0
Hotel/Restaurants,1654.0,57179.520556,61121.752939,301.0,17632.00,40888.5,68382.50,405160.0
Industrial Flatted Factory,758.0,12429.124894,28378.544457,213.0,961.00,2834.0,11136.75,249649.0
Industrial Light Industrial,899.0,16217.956618,27937.561957,417.0,3570.00,6143.0,15882.00,215828.0
Industrial Plotted,3020.0,40277.632338,82319.850070,35.0,5951.00,14331.0,38434.00,940518.0
Institutional Educational,697.0,68800.766141,183031.332270,154.0,6664.00,17319.0,57441.00,1795273.0
Institutional General,140.0,23233.392857,104338.322818,419.0,1425.00,2804.5,9104.00,857345.0
Institutional Medical,254.0,43460.207677,59122.350232,157.0,1207.00,13219.0,64612.75,246409.0
Institutional Religion,67.0,13408.014925,12565.396588,315.0,4841.50,9211.0,16306.50,61776.0
Local Shopping Center,2297.0,8083.800174,21251.706656,38.0,1065.00,2478.0,5115.00,178509.0
Malls/Multiplexes/PVRs,428.0,14543.014019,12488.600878,562.0,6043.00,9812.0,19160.00,74406.0
Metropolitan City Center,250.0,7811.360000,25160.829016,189.0,555.75,2079.0,8579.00,265669.0
NHCC (Non Hierarchial Commercial Centre),1.0,39268.000000,NaN,39268.0,39268.00,39268.0,39268.00,39268.0
Petrol Pumps/CNG Stations,131.0,88310.526718,65042.493135,2861.0,32373.00,76903.0,107060.50,253282.0
Recreational,141.0,21318.965957,67984.821711,60.0,1507.00,2864.0,7801.00,346664.0
Residential DDA Flats,58332.0,2657.338471,2377.088528,1.0,1515.00,2236.0,3114.25,110596.0
Residential DDA Janta Flats,3103.0,1048.880744,1159.859857,11.0,378.00,685.0,1332.00,17855.0
Residential Group Housing,6153.0,2138.576780,2761.424214,1.0,591.00,1108.0,2783.00,38739.0
Residential Plotted,280773.0,4175.750347,11269.548381,1.0,846.00,1744.0,3935.00,544762.0
Shops,31888.0,3834.412022,13099.394367,22.0,809.00,1605.0,3691.00,416899.0

In [70]:
df=property_ta_new['amount_paid'].groupby(property_ta_new['colony_name']).describe()
df.head(25)

,count,mean,std,min,25%,50%,75%,max
colony_name,,,,,,,,
AdhChini-Urban Village - Residential Purpose,183.0,2294.202186,5342.343045,258.0,403.00,576.0,2290.00,36120.0
Akbar Pur Mazara- Rural Vill.,29.0,45945.931034,54395.888755,3098.0,4648.00,19827.0,83079.00,175950.0
Aliganj,23.0,1694.478261,989.981674,714.0,994.50,1189.0,2348.00,3781.0
"Aman Puri, Najafgarh Road",23.0,42237.521739,30072.345931,8350.0,16701.00,26102.0,75781.50,82824.0
"Amar Colony B-Block, Purvi Gokulpuri Delhi 94",9.0,4797.666667,6029.653452,200.0,928.00,1972.0,4524.00,17261.0
Amar Vihar Colony,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Amba Enclave,111.0,1312.477477,588.471006,495.0,999.00,1109.0,1586.00,3170.0
Amber Vihar,1.0,736.000000,NaN,736.0,736.00,736.0,736.00,736.0
Amrit Kaur Puri,207.0,3838.570048,7372.301002,60.0,495.00,1683.0,3414.00,42517.0
Anand Vihar,9800.0,6167.857400,12238.114465,28.0,2476.00,3826.0,6407.00,502565.0
Andheria Mor,88.0,27634.011364,35805.629493,1106.0,10747.00,16173.0,24662.75,135392.0
Andrews Ganj,599.0,23589.550918,53969.507852,381.0,2938.00,6744.0,12996.00,393336.0
Arjan Park,21.0,1750.761905,3345.623244,460.0,549.00,560.0,1009.00,11789.0
Azad Nagar(Kishan Ganj),189.0,1327.000000,1227.727047,249.0,628.00,881.0,1419.00,8538.0
Azim Dairy,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
B-1 Kothi and Market P.Vihar,55.0,6896.618182,11825.220251,223.0,2537.00,3838.0,4750.00,47518.0
"Baba Hari Das Colony, Khera Dabar",1.0,35.000000,NaN,35.0,35.00,35.0,35.00,35.0
Bakarwala-Rural Village,169.0,2428.372189,7289.006014,30.0,35.00,92.0,450.00,38330.0
Bawana Rural Village,671.0,12660.421759,12923.502071,297.0,4809.50,9562.0,15519.50,154709.0
Bharat vihar Begum Pur Extn,8.0,9783.125000,2455.585030,6967.0,6967.00,10358.0,12216.00,12216.0
Bhim Nagri,1584.0,1166.601641,1941.598144,103.0,630.00,833.5,1219.00,43273.0
Bhola Nath Nagar (East),16.0,644.437500,459.631587,114.0,302.25,521.5,1016.00,1464.0
"Bihari Pur, Mustafabad",56.0,37955.035714,38936.831474,682.0,25459.00,25459.0,33946.00,127296.0
Bindapur DDA Flats,851.0,1695.000000,4126.736549,106.0,428.50,813.0,1200.00,46216.0
Chandni Chowk,86134.0,3479.709003,10507.432087,14.0,661.00,1350.0,3329.00,785823.0

In [78]:
new_group=property_ta_new['amount_paid'].groupby([property_ta_new['colony_name']
                                                  ,property_ta_new['property_type']]).mean()
new_group.head(10)

colony_name                                   property_type
AdhChini-Urban Village - Residential Purpose  Residential DDA Flats                                   419.727273
                                              Residential DDA Janta Flats                             472.329114
                                              Residential Plotted                                    4552.329268
                                              Shops                                                          NaN
Akbar Pur Mazara- Rural Vill.                 Farm House                                            45945.931034
Aliganj                                       Commercial General                                     3781.000000
                                              Govt. Company and Statutory Corporation Properties             NaN
                                              Residential DDA Flats                                   714.000000
                                              Residential Group Housing                                      NaN
                                              Residential Plotted                                    2003.111111
Name: amount_paid, dtype: float64

In [81]:
property_ta_new.groupby('colony_name')['amount_paid'].sum()

colony_name
AdhChini-Urban Village - Residential Purpose      419839.0
Akbar Pur Mazara- Rural Vill.                    1332432.0
Aliganj                                            38973.0
Aman Puri, Najafgarh Road                         971463.0
Amar Colony B-Block, Purvi Gokulpuri Delhi 94      43179.0
                                                   ...
West Kanti Nagar                                  904309.0
West Vinod Nagar, B Block, Delhi-92                86071.0
Yadav Nagar                                       501460.2
Zaildar Enclave, Mohan Garden                       5151.0
Ziauddinpur Colony                               1399135.0
Name: amount_paid, Length: 184, dtype: float64